.vscode
hoopla-cart-backend/node_modules
hoopla-cart-backend/package-lock.json
hoopla-pastDetails-backend/node_modules
hoopla-pastDetails-backend/package-lock.json
hoopla-products-backend/node_modules
hoopla-products-backend/package-lock.json
hoopla-seller-backend/node_modules
hoopla-seller-backend/package-lock.json
hoopla-users-backend/node_modules
hoopla-users-backend/package-lock.json

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
hoopla-ui/dist
hoopla-ui/tmp
hoopla-ui/out-tsc
# Only exists if Bazel was run
hoopla-ui/bazel-out

# dependencies
hoopla-ui/node_modules


# profiling files
hoopla-ui/chrome-profiler-events*.json
hoopla-ui/speed-measure-plugin*.json

# IDEs and editors
hoopla-ui/.idea
hoopla-ui/.project
hoopla-ui/.classpath
hoopla-ui/.c9/
hoopla-ui/*.launch
hoopla-ui/.settings/
hoopla-ui/*.sublime-workspace

# IDE - VSCode
hoopla-ui/.vscode/*
hoopla-ui/!.vscode/settings.json
hoopla-ui/!.vscode/tasks.json
hoopla-ui/!.vscode/launch.json
hoopla-ui/!.vscode/extensions.json
hoopla-ui/.history/*

# misc
hoopla-ui/.sass-cache
hoopla-ui/connect.lock
hoopla-ui/coverage
hoopla-ui/libpeerconnection.log
hoopla-ui/npm-debug.log
hoopla-ui/.yarn-error.log
hoopla-ui/testem.log
hoopla-ui/typings

# System Files
hoopla-ui/.DS_Store
hoopla-ui/Thumbs.db
